<!DOCTYPE html>
<html>
	<head>
		<link href="template.css" rel="stylesheet" />
		<title>@bsbab~ </title>
	</head>

	<body class="body">
		<div class="wrapper">
			<div id="header" align="center">
				<a href="../index.html" class="link home">Home</a>
				
				
				<hr class="hr1">
				<h1 class="superheader" align="center">Superheader</h1>
				
				
				<p></p>
			</div>
			
			<div id="content" align="center" style="background-color: #26292B">
			
			
				<p align="center">Write your content here!</p>
				
				
			</div>
			
			<div id="footer">
				<footer class="credit">
					<p align="center"><img src="../logo.png" style="width:355px;height:246px;"></p>
					<p align="center"><br>Hosting by bsbab.org</p>
				</footer>
			</div>
		</div>
	</body>

</html>