html {
  height: 100%;
  box-sizing: border-box;
}

.body {
	background-color: #26292b;
}

.body a:link {
	color: #507C91;
	text-decoration: none;
}

.body a:visited {
	color: #507C91;
	text-decoration: none;
}

.body a:hover {
	color: #11ABB0;
}

.hr1 {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(17, 171, 176, 1), rgba(0, 0, 0, 0));
}

.home {
	font-size: 25px;
}

.disabled {
	font-size: 25px;
	color: #909090;
	cursor: default
}

.superheader {
	color: #11ABB0;
	cursor: default
}

#header {
	color: #C4C4C4;
}

#content {
	padding-top:30px;
	font-size: 25px;
	color: #C4C4C4;
	position: relative;
}

.credit {
	background-color: #494F54;
	border-style: solid;
	border-color: #494F54;
	border-width: 5px;
}

html,
body {
	margin:0;
	padding:0;
	min-height:100%;
	position: relative;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#212426;
	padding:10px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: white;
	position: relative;
}
#content {
	padding-bottom:400px; /* Height of the footer element */
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #494F54;
  text-align: center;
  border-top-style: solid;
  border-width: 1px;
  border-color: white;
}