html {
  height: 100%;
  box-sizing: border-box;
}

.body {
	background-color: #26292b;
}

.body a:link {
	color: #507C91;
	text-decoration: none;
}

.body a:visited {
	color: #507C91;
	text-decoration: none;
}

.body a:hover {
	color: #11ABB0;
}

#hid1{
	display: none;
}
#hid2 {
	display: none;
}
#hid3 {
	display: none;
}
#hid4 {
	display: none;
}
#hid5 {
	display: none;
}

.hr1 {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(17, 171, 176, 1), rgba(0, 0, 0, 0));
}

.hr2 {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(96, 96, 96, 1), rgba(0, 0, 0, 0));
	margin: 0px 25% 6px;
}

.home {
	font-size: 25px;
	padding:0px;
	color: #C4C4C4;
}

.disabled {
	font-size: 25px;
	color: #909090;
	cursor: default
}

.superheader {
	color: #11ABB0;
	cursor: default
}

.textheader {
	color: #C4C4C4;
	font-size: 20px;
}

.text {
	color: #C4C4C4;
	font-size: 16px;
}

.links {
	padding-top: 30px;
	padding-bottom: 25px;
	font-size: 20px;
}

.foreword {
	color: #C4C4C4;
	font-size: 15px;
	padding-bottom: 15px;
}

.currentversion {
	color: #C4C4C4;
	font-size: 18px;
	font-weight: bold;
}

.aver {
	padding-top: 20px;
}

.aver a.link {
	font-size: 18px;
}

.ver {
	color: #DDDDDD;
}

.versionbodies {
	padding-bottom: 0px;
}

.credit {
	background-color: #494F54;
	border-style: solid;
	border-color: #494F54;
	border-width: 10px;
}

.titleish {
	font-size: 20px;
}

.modlist {
	color: #C4C4C4;
	font-size: 16px;
}

.customizations {
	line-height: 1.3;
}

.FAQ {
	line-height: 2;
}

.margin {
	margin: 0% 30%;
	line-height: 1.4;
}

html,
body {
	margin:0;
	padding:0;
	min-height:100%;
	position: relative;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#212426;
	padding:10px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: white;
	position: relative;
}
#content {
	padding-bottom:450px; /* Height of the footer element */
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #494F54;
  text-align: center;
  border-top-style: solid;
  border-width: 1px;
  border-color: white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	cursor: help;
}